@page
@model LoginModel
@{
    ViewData["Title"] = "Iniciar Sesión";
}

<h2>Iniciar Sesión</h2>

<form method="post">
    <div class="form-group">
        <label for="username">Nombre de Usuario</label>
        <input type="text" class="form-control" id="username" name="NombreUS" required>
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" name="ContrasenaUS" required>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>

<!-- Botón para redirigir al registro -->
<div>
    <p>¿No tienes una cuenta? <a asp-page="/Register">Regístrate aquí</a></p>
</div>

<!-- Modal para mostrar error -->
<div id="messagebox" class="modal fade @(Model.ShowModal ? "show" : "")" style="@(Model.ShowModal ? "display:block;" : "display:none;")" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Error</h2>
            </div>
            <div id="Alerta" class="modal-body alert alert-danger">
                @Model.MensajeError
            </div>
            <div class="modal-footer">
                <form method="post" asp-page-handler="CloseModal">
                    <button type="submit" class="btn btn-info">Cerrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

