@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro de Usuario";
}

<h2>Registro</h2>
    <form method="post" asp-page-handler="GuardarCreacion">
        <div class="form-group">
        <label for="username">Nombre de Usuario</label>
        <input type="text" class="form-control" id="username" name="NombreUS" required>
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" name="ContrasenaUS" required>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Registrarse</button>
</form>

<!-- Botón para volver al login -->
<div>
    <p>¿Ya tienes una cuenta? <a asp-page="/Login">Iniciar sesión</a></p>
</div>
